.root {
    -fx-background-color: #1e1e2f;
}

.button {
    -fx-background-color: #3a3a4f;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

.button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.text {
    -fx-fill: #ffcc00;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

Text {
    -fx-fill: white;
    -fx-font-size: 18px;
}

#menu-title {
    -fx-font-size: 48px;
    -fx-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-stroke: #526b69;
    -fx-stroke-width: 2px;
}

#achievements {
    -fx-font-size: 26px;
}

#server-label {
    -fx-fill: #000000;
    -fx-font-size: 16px;
}

#mainmenu-button {
    -fx-padding: 10px 150px 10px 150px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 6, 0, 0, 2);
}



/* SLIDER */

.slider.custom-slider {
    -fx-padding: 20 0;
    -fx-pref-width: 280;
}

.slider.custom-slider .track {
    -fx-background-color: #3a3a4f;
    -fx-background-radius: 6;
    -fx-padding: 6;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 6, 0, 0, 2);
}

.slider.custom-slider .track:filled {
    -fx-background-color: #ffcc00;
    -fx-background-radius: 6;
}

.slider.custom-slider .thumb {
    -fx-background-color:
        linear-gradient(#ffd84d, #e6b800),
        #ffcc00;
    -fx-background-radius: 50%;
    -fx-padding: 14;
    -fx-effect: dropshadow(gaussian, rgba(255,204,0,0.6), 10, 0, 0, 0);
}

.slider.custom-slider .thumb:hover {
    -fx-background-color:
        linear-gradient(#ffea80, #e6c200),
        #ffcc00;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.slider.custom-slider .thumb:pressed {
    -fx-background-color:
        linear-gradient(#ffe066, #ccaa00),
        #ffcc00;
    -fx-effect: dropshadow(gaussian, rgba(255,204,0,0.8), 12, 0, 0, 0);
}

#stats-line {
    -fx-font-size: 26px;
}

#stats-line-title {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}